<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>esamanru OTF Light.otf</string>
		<string>esamanru OTF Medium.otf</string>
		<string>BMJUAOTF.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>위치 접근을 위해 권한이 필요합니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>위치 접근을 위해 권한이 필요합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>위치 접근을 위해 권한이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>앨범 접근을 위해 권한이 필요합니다.</string>
</dict>
</plist>
